<div class="container">
  <div class="user-register-page-title">ユーザー登録</div>

  <%= render 'shared/flash_message', class: "alert alert-danger"  %>

  <%= render 'form', user: @user %>

  <%= link_to 'トップへ戻る', root_path, class: 'btn btn-primary', id:'user_new_path-back-btn' %>
  <%= link_to 'ログインページへ', login_path, class: 'btn btn-primary', id:'user_new_path-login-btn' %>
</div>

