<header>
  <div class="header-user-icon"><%= image_tag '/sample.png', size: '50x50' %></div>
  <div class="app-name">NewLifinancial</div>
  <div class="header-links">
    <div class="user-register-link">ユーザー登録</div>
    <div class="user-login-link">ログイン</div>
    <div class="user-guestlogin-link">ゲストログイン</div>
  </div>
</header>
